body {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

.app-container {
  max-width: 80%;
  margin: auto;
  padding: 1rem;
  font-family: sans-serif;
  background-color: rgba(203, 119, 119, 0.8);
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.search-input,
.filter-select {
  padding: 0.5rem;
  font-size: 1rem;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input,
select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding-top: 2rem;
}

.job-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.job-card:hover {
  transform: scale(1.02);
}

button {
  background-color: #080766;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #455fa0;
}

.active {
  color: rgb(0, 0, 0);
  font-weight: 400;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* Toggle Button Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4a4a4a;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

/* Light Theme */
body.light {
  background-color: #f7a3a3;
  color: #000;
}

body.light .app-container {
  background-color: #e8d0d0;
}

/* Dark Theme */
body.dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.dark .app-container {
  background-color: #2e2e2e;
}

body.dark .job-card {
  background-color: #3a3a3a;
  color: #fff;
}

body.dark input,
body.dark select,
body.dark .filter-select {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

body.dark button {
  background-color: #555;
}

body.dark button:hover {
  background-color: #888;
}

